@page "/about"

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="about">
    <h1>О Wallman</h1>
    <p>Wallman — это удобная платформа для поиска и загрузки обоев. Мы стремимся предоставить пользователям лучший опыт персонализации рабочего стола, предлагая широкий выбор качественных изображений.</p>

    <h2>Наши возможности</h2>
    <ul>
        <li>Огромная коллекция обоев в высоком качестве</li>
        <li>Умный поиск и удобная категоризация</li>
        <li>Возможность загружать собственные обои</li>
    </ul>

    <h2>Присоединяйтесь к нам</h2>
    <p>Создавайте свою уникальную коллекцию обоев, делитесь находками и наслаждайтесь безграничными возможностями персонализации рабочего стола вместе с Wallman!</p>

    <a href="#" class="btn">Присоединиться</a>
</section>