@page "/about"

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="about">
    <h1>About Wallman</h1>
    <p>Wallman is a convenient platform for searching and downloading wallpaper. We strive to provide users with a better desktop personalization experience by offering a wide range of quality images.</p>

    <h2>Our ability</h2>
    <ul>
        <li>Huge collection of high quality wallpaper</li>
        <li>Smart search and easy categorization</li>
        <li>Ability to upload your own wallpaper</li>
    </ul>

    <h2>Join us</h2>
    <p>Create your own unique wallpaper collection, share finds and enjoy the limitless possibilities of personalizing your desktop with Wallman!</p>

    <a href="upload" class="btn">Join</a>
</section>