h1, h2 {
    font-weight: 600;
    color: var(--md-sys-color-primary);
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

section {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--md-sys-color-surface);
    border-radius: 12px;
    box-shadow: var(--md-elevation-level-1);
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    font-weight: 400;
}

input, select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--md-sys-color-surface-variant);
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface);
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin-right: 5px;
    border-radius: 100px;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all var(--md-sys-motion-duration-medium) var(--md-sys-motion-easing-standard);
    position: relative;
    overflow: hidden;
}

.button.primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.button.secondary {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.button:hover {
    box-shadow: var(--md-elevation-level-2);
    transform: translateY(-1px);
}

.button:active {
    transform: translateY(0);
}

.icon-button {
    padding: 0.5rem;
    color: white;
    border-radius: 50%;
    background-color: transparent;
}

.icon-button:hover {
    background-color: var(--md-sys-color-surface-variant);
}

/* Ripple Effect */
.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.button:active::after {
    animation: ripple 0.6s ease-out;
}

.requests {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.request {
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-on-secondary);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--md-elevation-level-2);
}

.request img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    flex: 1;
}

.admin{
    animation: fadeIn var(--md-sys-motion-duration-medium) var(--md-sys-motion-easing-standard);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}